@import "tailwindcss";

/* Shining stroke animation */
@keyframes glow-slide {
  /* 0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-glow span {
  /* border-radius: inherit;
  border-width: 2px;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #3b82f6, #a855f7, #ec4899);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  /* z-index: 10; */
  /* background: linear-gradient(270deg, #3b82f6, #a855f7, #ec4899, #3b82f6);
  background-size: 600% 600%;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: glow-slide 3s linear infinite;
  pointer-events: none; */
  /* z-index: 10; */
}

/* Global styles */
/* body {
  @apply bg-white-off text-black min-h-screen;
} */
/* 
nav {
  @apply shadow-md;
}

button {
  position: relative;
  z-index: 30;
} */
/* Headings in UberMove */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "UberMove", sans-serif;
  font-weight: 700;
}
h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
  font-family: "UberMove", sans-serif;
  font-weight: 700;
}
p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
/* Hide scrollbar for all browsers */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@theme {
  --color-blue: #0072ff;
  --color-black: #020202;
  /* --color-blue-dark: #d9d9d9; */
}
