@import "tailwindcss";
/* Shining stroke animation */
/* @keyframes glow-slide {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-glow span {
  border-radius: inherit;
  border-width: 2px;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #3b82f6, #a855f7, #ec4899);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: linear-gradient(270deg, #3b82f6, #a855f7, #ec4899, #3b82f6);
  background-size: 600% 600%;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: glow-slide 3s linear infinite;
  pointer-events: none;
} */
